
pubspec.lock
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
example/.metadata
example/lib/firebase_options.dart
example/android/app/google-services.json
example/ios/firebase_app_id_file.json
example/macos/firebase_app_id_file.json
example/android/keystore/keystore.properties
